
		input {
			box-shadow: none;
			border: 1px solid lightgray;
			border-radius: 3px;
			padding: 5px 5px 5px 5px;
		}
		input:invalid {
			border-color: red;
		}
		textarea {
			box-shadow: none;
			border: 1px solid lightgray;
			border-radius: 3px;
			padding: 5px 5px 5px 5px;
		}
		textarea:invalid {
			border-color: red;
		}
	